.card {
    margin: auto;
    background-color: rgb(87, 87, 87);
}

.example-card {
    margin-left: 1.12rem;
    
}
 
.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

