.limitCaractere {
  max-width: 60ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* table {
    max-width: auto;
    margin: 4em auto;
    text-align: center;
} */

table {
  width: 100%;
  max-width: auto;
  margin: 4em auto;

}

.loading-spinner {
  padding: 9rem;
  background-color: 0, 0, 0, 0.15;
  display: flex;
  align-items: center;
  justify-content: center;
}